<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.fredhappyface.ewesticker">

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning"
		android:dataExtractionRules="@xml/data_extraction_rules">
		<activity
			android:name="com.fredhappyface.ewesticker.MainActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:exported="true"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service
			android:name="com.fredhappyface.ewesticker.ImageKeyboard"
			android:exported="false"
			android:label="EweSticker"
			android:permission="android.permission.BIND_INPUT_METHOD">
			<meta-data
				android:name="android.view.im"
				android:resource="@xml/method" />
			<intent-filter>
				<action android:name="android.view.InputMethod" />
			</intent-filter>
		</service>
		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="com.fredhappyface.ewesticker.inputcontent"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>
	</application>
</manifest>
